# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
%matplotlib inline

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [3]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

In [4]:
# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=50)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=50)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count

len(cities)

46

In [5]:
#create intitial dataframe to hold cities
cities_df = pd.DataFrame(cities, columns = ['city_name'])
cities_df.head()

      city_name
0      zhigansk
1         wuwei
2  oktyabrskoye
3         tiksi
4    butaritari

In [6]:
#add additional columns to dataframes
cities_df['city_number'] = ""
cities_df['weather'] = ""
cities_df.head()

      city_name city_number weather
0      zhigansk
1         wuwei
2  oktyabrskoye
3         tiksi
4    butaritari

### Perform API Calls

* Perform a weather check on each city using a series of successive API calls.

In [7]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Build partial query URL
#query_url = f"{url}appid={api_key}&units={units}&q="
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [9]:
# set up lists to hold reponse info
#temp cities for testing
#cities = ["Sheboygan", "Chicago", "Miami"]
#city_id = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    
    try:
        response = requests.get(query_url + city).json()
        temp.append(response['main']['temp'])
        print(requests.get(url))
        temp_results = response['main']['temp']
        cities_df['weather'] = temp_results
    except (KeyError, IndexError):
        print("Missing field/result... sresponseng.")

#print(f"The City ID Number received is: {city_id}")
print(f"The temperature information received is: {temp}")

<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
Missing field/result... sresponseng.
<Response [401]>
<Response [401]>
Missing field/result... sresponseng.
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
Missing field/result... sresponseng.
Missing field/result... sresponseng.
<Response [401]>
<Response [401]>
Missing field/result... sresponseng.
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
Missing field/result... sresponseng.
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
<Response [401]>
The temperature information received is: [61.65, 66, 69.4, 37.18, 83.1, 57.2, 64.98, 71.6, 81, 77.25, 64.4, 65.16, 66.52, 80.85, 48.24, 93.2, 37.69, 73.4, 32, 73.58, 76.59, 78.8, 72.45, 68, 42.42, 55.4, 59, 49.93, 53.91, 29.61, 75.09, 79.97, 78.76, 62.6, 54.86, 51.01, 68.95, 81.07, 102.96, 57.2]

* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [100]:
cities_df

           city_name city_number  weather
0             hobart                59.22
1        barentsburg                59.22
2     saint-philippe                59.22
3           haibowan                59.22
4            rikitea                59.22
5             castro                59.22
6           hermanus                59.22
7             labuan                59.22
8         trzebiatow                59.22
9            talnakh                59.22
10      punta arenas                59.22
11             kapaa                59.22
12      port hedland                59.22
13             vaini                59.22
14          tasiilaq                59.22
15          hereford                59.22
16              jian                59.22
17             ahaus                59.22
18      san patricio                59.22
19            maceio                59.22
20             bluff                59.22
21          yar-sale                59.22
22            carman                59.22
23         mahebourg                59.22
24         cape town                59.22
25     dalnerechensk                59.22
26           mataura                59.22
27            broome                59.22
28          la ronge                59.22
29            warqla                59.22
30  illoqqortoormiut                59.22
31              nome                59.22
32            kodiak                59.22
33      kruisfontein                59.22
34          victoria                59.22
35      gorshechnoye                59.22
36              abha                59.22
37           xichang                59.22
38     rabo de peixe                59.22
39    cabo san lucas                59.22
40     half moon bay                59.22
41        nikolskoye                59.22

In [ ]:
#print(f"The City ID Number received is: {city_id}")
print(f"The temperature information received is: {temp}")

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression