# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [141]:
%matplotlib inline

In [142]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [143]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

In [144]:
# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=50)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=50)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count

len(cities)

45

In [145]:
#create intitial dataframe to hold cities
#temp cities for testing
cities = ["Sheboygan", "Chicago", "Miami"]
cities_df = pd.DataFrame(cities, columns = ['city_name'])
cities_df.head()

   city_name
0  Sheboygan
1    Chicago
2      Miami

In [146]:
#add additional columns to dataframes
cities_df['city_number'] = ""
cities_df['weather'] = ""
cities_df.head()

   city_name city_number weather
0  Sheboygan
1    Chicago
2      Miami

### Perform API Calls

* Perform a weather check on each city using a series of successive API calls.

In [147]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Build partial query URL
#query_url = f"{url}appid={api_key}&units={units}&q="
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [148]:
# set up lists to hold reponse info

#city_id = []
temp = []
#params for url query
params = {
    "appid=": "appid=" + weather_api_key,
    "&units=": "&units=" + units,
}
# Loop through the list of cities and perform a request for data on each
for city in cities:
    
    #get city name
    #city_is = row['city_name']
    # add city to params dict
    #params['&q='] = city_is
    
    # assemble url and make API request
    #print(f"Retrieving Results for Index {index}: {city_is}.")
    response = requests.get(query_url + city).json()
    print(requests.get(url))

<Response [401]>
<Response [401]>
<Response [401]>

In [128]:
    # extract results
    results = response['coord']

    try:
        #temp.append(index, 'weather') = results[0]['temp']
        #cities_df['weather'] = temp_results
        cities_df.loc[index, 'weather'] = results[0]['temp']
    except (KeyError, IndexError):
        print("Missing field/result... sresponseng.")

#print(f"The City ID Number received is: {city_id}")
print(f"The temperature information received is: {temp}")

Retrieving Results for Index 0: Sheboygan.

KeyError: 'coord'

* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [108]:
cities_df

           city_name city_number weather
0             hobart
1        barentsburg
2     saint-philippe
3           haibowan
4            rikitea
5             castro
6           hermanus
7             labuan
8         trzebiatow
9            talnakh
10      punta arenas
11             kapaa
12      port hedland
13             vaini
14          tasiilaq
15          hereford
16              jian
17             ahaus
18      san patricio
19            maceio
20             bluff
21          yar-sale
22            carman
23         mahebourg
24         cape town
25     dalnerechensk
26           mataura
27            broome
28          la ronge
29            warqla
30  illoqqortoormiut
31              nome
32            kodiak
33      kruisfontein
34          victoria
35      gorshechnoye
36              abha
37           xichang
38     rabo de peixe
39    cabo san lucas
40     half moon bay
41        nikolskoye

In [ ]:
#print(f"The City ID Number received is: {city_id}")
print(f"The temperature information received is: {temp}")

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression